doctype html
html
  head
    title EventApp
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jnotifier.css')
    link(href='http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')

  body
    header#header
      #logo: img(src="images/owl_diary55.png")
      #nav-menu
        ul
          li: a(href="#event-add") Add Event
          li: a(href="#list") Events List
          li: a(href="#places") Places
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/editor_module.js')
    script(src='/javascripts/jnotifier.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')
    // script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js)
    script(src='http://maps.googleapis.com/maps/api/js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/global.js')